@{
  ViewData["RootUrl"] = "/blazor/";
}

@section scripts {
  <script src="_framework/blazor.webassembly.js"></script>
}



<div class="bg-dark text-white p-2">
  <div class="navbar-brand">SPORTS STORE</div>
</div>
<app>Loading...</app>
